.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PostCard{
  background : rgba(240, 240, 240, 0.1);
  width:50%;
  margin: 10px auto 10px auto;
  padding:5px;
  max-height: 80px;
  border: 1px 1px 1px 1px #000;
}
.PostTitle{

  color: #da1d9b;
  font-size: 24px;

}

.PostDescription{

  color: #CE2929;
  font-size:12px;

}

.votes{

  color:#f6c279;
  font-size:14px;
  font-style:bold;

}
