<!DOCTYPE html>

<html>
    <head>
        <title> Welcome!</title>
    </head>
    <body>
        <nav class="navContainer">
            <div class="navTitle">Taylor Slow</div>
            <div class="navOptions">
                <a href = "https://www.google.com"> Feed </a>
                <a href = "https://www.google.com"> Playlist </a>
                <a href = "https://www.google.com"> Sync </a>
                <a href = "https://www.google.com"> Profile </a>
                <a href = "https://www.google.com"> Settings </a>
            </div>
        </nav>
        <h1> Heading!</h1>
        <p> Paragraph!</p>
    </body>
</html>